.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.table-paper {
  width: 100%;
  overflow: hidden;
}
.table-container {
  width: auto;
  overflow-x: scroll;
  min-height: 256px;
}

.table {
  width: auto;
  margin: auto;
}

.table-toolbar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.data-cell {
  width: min-content;
}
.data-cell > input {
  width: 48px;
  aspect-ratio: 1/1;
}

.data-cell.active > input {
  color: red !important;
}

.data-cell.highlighted > input {
  color: orange;
}

.new-node-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
}

.directed-container {
}

.start-node-container {
  min-width: 96px;
}
