.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.table-paper {
  width: 100%;
  overflow: scroll;
}
.table-container {
  display: flex;
  flex-direction: row;

  justify-content: center;

  width: auto;
}

.table {
  width: auto;
}

.table-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.data-cell {
  width: min-content;
}
.data-cell > input {
  width: 48px;
  aspect-ratio: 1/1;
}

.data-cell.active > input {
  color: red !important;
}

.data-cell.highlighted > input {
  color: orange;
}

.options-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-bottom: 1rem;
}

.new-node-container {
}

.directed-container {
}
